@import "./Variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

//desktop
@media screen and (min-width: 1200px) {
.nav-container{
    // flex: 1;
    // mobile
    // display: flex;
    .link{
        text-decoration: none;
    }
    
    .mainbar{
        // display: flex;
        // position: relative;
        // background: $colorOne;
        background-color: black;
        border-top: 1px solid $colorOne;
        border-bottom: 1px solid $colorOne;
        // padding: .009%;
        box-shadow: 0px 0px 5px;
        
        
        ul{
            display: flex;
            list-style: none;
            justify-content: center;
            margin-right: 7%;
            
            ol{
                position:relative;
                font-size: 2em;
                
                font-weight: 500;
                text-shadow: 0px 0px 15px   ;
                font-family: 'Permanent Marker', cursive;
                
                &:hover{
                    transform: scale(1.2);
                }
                

            }
        }
    }
}}

//mobile
@media screen and (max-width: 1200px) {
    .nav-container{
        justify-content: center;

        .link{
            text-decoration: none;
        }
        
        .mainbar{
            // display: flex;
            // position: relative;
            // background: $colorOne;
            background-color: black;
            border-top: 1px solid $colorOne;
            border-bottom: 1px solid $colorOne;
            // padding: .009%;
            box-shadow: 0px 0px 5px;
            
            
            ul{
                // display: flex;
                list-style: none;
                justify-content: center;
                margin-right: 7%;
                
                ol{
                    position:relative;
                    font-size: 2em;
                    
                    font-weight: 500;
                    text-shadow: 0px 0px 15px   ;
                    font-family: 'Permanent Marker', cursive;
                    
                    &:hover{
                        transform: scale(1.2);
                    }
                    
                    font-size: 1.5em; // Adjust font size for smaller screens
                }
            }
        }
    }}