@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* mobile */
@media screen and (max-width: 1200px) {
    .App {
        font-size: 1.2rem;
        text-align: center;
        margin: 0%;
        /* padding: 0%; */
        background-image: url(/src/images/crumbledpaper.jpg);
        background-color: rgba(2, 1, 1, 0.836);
        background-position: center;
        background-blend-mode: multiply;
        overflow: scroll;
        /* overflow: hidden; */

    }
    
    
    .title{
        font-size: 5rem;
        font-family: 'Permanent Marker', cursive;
        font-weight: bold;
        -webkit-text-stroke: 1px #33FF33;
        
    }
}

/* desktop */
@media screen and (min-width: 1200px) {
    .App {
        font-size: 1.2rem;
        text-align: center;
        margin: 0%;
        padding: 0%;
        background-image: url(/src/images/crumbledpaper.jpg);
        background-color: rgba(2, 1, 1, 0.836);
        background-position: center;
        background-blend-mode: multiply;
    }
    
    
    .title{
        font-size: 5rem;
        font-family: 'Permanent Marker', cursive;
        font-weight: bold;
        -webkit-text-stroke: 1px #33FF33;
        
    }
}